<form class="search_form hideDiv" id="search_form_sec">
  <div class="form_row">
    <div class="form_field">
      <label>Name of the Creator</label>
      <select></select>
    </div>
    <div class="form_field">
      <label>Event of Lead Generation</label>
      <select></select>
    </div>
    <div class="form_field">
      <label>Investor name</label>
      <input type="text">
    </div>
    <div class="form_field">
      <label>Lead category</label>
      <select></select>
    </div>
    <div class="form_field">
      <label>Mou singing department</label>
      <select></select>
    </div>
  </div>
    <div class="form_row">
      <div class="form_field">
        <label>Date added (MoU Signing Dep.)</label>
        <input type="text">
      </div>
      <div class="form_field">
        <div class="form_sub_field">
          <label>HQ Location</label>
          <input type="text">
        </div>
        <div class="form_sub_field">
          <label>Origin country</label>
          <input type="text">
        </div>
      </div>
      <div class="form_field">
        <div class="form_sub_field">
          <label>Sector</label>
          <select></select>
        </div>
        <div class="form_sub_field">
          <label>Sub-sector</label>
          <select></select>
        </div>
      </div>
      <div class="form_field">
        <p>Type</p>
        <div >
          <input type="radio" id="Greenfield" name="radio-group" checked>
          <label for="Greenfield">Greenfield</label>
          <input type="radio" id="Brownfield" name="radio-group">
          <label for="Brownfield">Brownfield</label>
        </div>
      </div>
      <div class="form_field">
        <label>State</label>
        <select></select>
      </div>
    </div>
    <div class="form_row">
      <div class="form_field">
        <label>Region</label>
        <select></select>
      </div>
      <div class="form_field_long">
          <label><input type="radio">Request Permission to access contact details</label>
      </div>
      <div class="form_field_butn">
          <input type="button" value="Get result">
      </div>
    </div>
</form>
<router-outlet></router-outlet>
