<aside class="left_panel showDiv" id="left_bar">
      <div class="menu" id="show_hide_menu">
        <i class="fas fa-bars"></i>
      </div>
      <nav>
        <ul routerLinkActive="active">
          <li>
            <p><a routerLink="/dashboard"><img src="../../assets/images/dashboard-active.svg" alt="Dashboard"/><span>Dashboard</span></a></p>
          </li>
          <li>
            <p><a routerLink="/lead-management"><img src="../../assets/images/lead-management-inactive.svg" alt="Lead Management"/><span>Lead Management</span></a></p>
              <ul class="sub_nav">
              <li>
                <a routerLink="/add-lead"><img src="../../assets/images/add-new-lead-inactive.svg" alt="Add new lead"/><span>Add Lead</span></a>
              </li>
              <li >
                <a routerLink="/search-lead"><img src="../../assets/images/query-lead-data-inactive.svg" alt="Search Lead Data"/><span>Search Leads </span></a>
              </li>
            </ul>
          </li>
          <li>
            <p>
              <a routerLink="/contact-management"><img src="../../assets/images/contact-management-inactive.svg" alt="Contact management module" width="20px"/><span>Contact Management</span></a>
            </p>
            <ul class="sub_nav">
              <li>
                <a routerLink="/add-individual-contact"><img src="../../assets/images/add-individual-inactive.svg" alt="Add individual contact"/><span>Add Individual Contact</span></a>
              </li>
              <li>
                <a href="#ex1" rel="modal:open"><img src="../../assets/images/add-multiple-inactive.svg" alt="Add multiple contact"/><span>Add Multiple Contact</span></a>
              </li>
              <li>
                <a routerLink="/search-contact"><img src="../../assets/images/search-inactive.svg" alt="Add new lead"/><span>Search Contacts</span></a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </aside>
