<app-leftmenu></app-leftmenu>
<main class="squezeContent">
  <app-header></app-header>
  <section class="content_area ">
    <div class="login_form hideDiv" id="top_login_sec">
      <a href="login.html"><i class="fas fa-unlock-alt"></i> Click to logout</a>
    </div>
      <ul class="breadcramp">
        <li>Dashboard</li>
      </ul>
    <div class="contact_hd">
        <h2>Dashboard
        <span>Please choose any of the module to get respective page</span>
      </h2>
    </div>
    <div class="lead-align">

      <div class="lead">
        <h2>Lead Management</h2>
        <div>
          <a routerLink="/add-lead">
            <img src="../../assets/images/new-lead.svg" alt="Add new lead" class="black">
            <img src="../../assets/images/new-lead-active.svg" alt="Add new lead" class="white">
            <h3>Add new lead</h3>
          </a>
        </div>
        <div>
          <a routerLink="/search-lead">
            <img src="../../assets/images/query-lead.svg" alt="Search lead data" class="black">
            <img src="../../assets/images/query-lead-active.svg" alt="Search lead data" class="white">
            <h3>Search lead data</h3>
          </a>
        </div>
        <div>
          <a >
            <img src="../../assets/images/contact-request-inactive.svg" alt="Add new lead" class="black">
            <img src="../../assets/images/contact-request-active.svg" alt="Add new lead" class="white">
            <h3>Request contact details</h3>
          </a>
        </div>
        <div>
          <a>
            <img src="../../assets/images/download-inactive.svg" alt="" class="black">
            <img src="../../assets/images/download-active.svg" alt="" class="white">
            <h3>Download</h3>
          </a>
        </div>
      </div>
    </div>
    <div class="lead-align">
      <div class="lead">
        <h2>Contact Management</h2>
        <div>
          <a routerLink="/add-individual-contact">
            <img src="../../assets/images/dash_individual_contact.svg" alt="Add individual contact" class="black">
            <img src="../../assets/images/dash_individual_contact_white.svg" alt="Add individual contact" class="white">
            <h3>Add individual contact</h3>
          </a>
        </div>
        <div>
          <a href="#ex1" rel="modal:open">
            <img src="../../assets/images/dash_multiple_contact.svg" alt="Add multiple contact" class="black">
            <img src="../../assets/images/dash_multiple_contact_white.svg" alt="Add individual contact" class="white">
            <h3>Add multiple contact</h3>
          </a>
        </div>
        <div>
          <a routerLink="/add-individual-contact">
            <img src="../../assets/images/dash_search_contact.svg" alt="Search contact" class="black">
            <img src="../../assets/images/dash_search_contact_white.svg" alt="Add individual contact" class="white">
            <h3>Search contact</h3>
          </a>
        </div>
        <div>
          <a routerLink="/search-contact">
            <img src="../../assets/images/dash_my_dashboard.svg" alt="dashboard contact" class="black">
            <img src="../../assets/images/dash_my_dashboard_White.svg" alt="Add individual contact" class="white">
            <h3>Contact list</h3>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
