<header>
  <div class="logo_sec">
    <img src="../../assets/images/logo.svg" alt="Punjab economic development">
    <h1>Economic Development <br>Digital Solutions</h1>
  </div>
  <div class="top_right">
    <div class="user_sec">
      <p>Satyajit Chaterjee</p>
      <span>S</span>
      <i class="fas fa-angle-down" id="openlogin"></i>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
