<app-leftmenu></app-leftmenu>
<main class="squezeContent">
  <app-header></app-header>
  <app-search-section></app-search-section>
  <div class="content_area">
    <app-breadcrumb></app-breadcrumb>
    <div class="querySec">
      <h2>Search Lead Data</h2>
      <div class="for_all">
        <label>
          <input type="checkbox" id="selectAll"> Select all
        </label>
        <ul class="tool_list">
          <li>
            <a href="new-lead.html">
              <img src="../../../assets/images/add-lead.svg" alt="Add new lead">Add new lead
            </a>
          </li>
          <li>
            <img src="../../../assets/images/contact.png" alt="Investment (in INR Cr)">Request for contact details
          </li>
          <li>
            <img src="../../../assets/images/download.png" alt="Investment (in INR Cr)">Download
          </li>
        </ul>
      </div>
      <div class="data_sec_bottom">
        <input type="checkbox" class="selectIndividual">
        <a href="new-lead-edit.html"><i class="fas fa-pen"></i></a>
        <p class="date_time">
          Create Date: 10th June, 2018 Time: 04:20pm
        </p>
      </div>
      <section class="data_sec">
          <ul>
            <li>
              <img src="../../../assets/images/query-icon-1.svg" alt="Name of the creator">
              <p>
                Name of the creator
                <span class="heading">Adarsh Sharma, IGH</span>
              </p>
            </li>
            <li>
              <img src="../../../assets/images/query-icon-2.svg" alt="Event of lead generation">
              <p>
                Event of lead generation
                <span class="heading">Vibrant Gujarat</span>
              </p>
            </li>
            <li>
              <img src="../../../assets/images/query-icon-3.svg" alt="Investor name">
                <p>
                  Investor name
                  <span class="heading">Tesla</span>
                </p>
            </li>
            <li>
              <img src="../../../assets/images/query-icon-4.svg" alt="Lead category">
                <p>
                  Lead category
                  <span class="heading">Mou</span>
                </p>
              </li>
            <li>
              <img src="../../../assets/images/query-icon-5.svg" alt="Date of creation">
              <p>
                Date of creation
                <span class="heading">1st Feb,2017</span>
              </p>
            </li>
            <li>
              <img src="../../../assets/images/query-icon-6.svg" alt="HQ location">
                <p>
                  HQ location
                  <span class="heading">Dalas</span>
                </p>
              </li>
            <li>
              <img src="../../../assets/images/query-icon-7.svg" alt="Origin country">
                <p>
                  Origin country
                  <span class="heading">United States</span>
                </p>
              </li>
            <li>
              <img src="../../../assets/images/query-icon-8.svg" alt="Manufacturing">
                <p>
                  Sector
                  <span class="heading">Manufacturing</span>
                </p>
              </li>
            <li>
              <img src="../../../assets/images/query-icon-9.svg" alt="Automobiles">
                <p>
                  Sub sector
                  <span class="heading">Automobiles</span>
                </p>
              </li>
            <li>
              <img src="../../../assets/images/query-icon-10.svg" alt="State">
                <p>
                  State
                  <span class="heading">Gujarat</span>
                </p>
              </li>
            <li>
              <img src="../../../assets/images/query-icon-11.svg" alt="Type">
                <p>
                  Type
                  <span class="heading">Brownfield</span>
                </p>
              </li>
            <li>
              <img src="../../../assets/images/query-icon-12.svg" alt="Investment (in INR Cr)">
                <p>
                  Investment (in INR Cr)
                  <span class="heading">500</span>
                </p>
              </li>
            <li>
              <img src="../../../assets/images/query-icon-13.svg" alt="Potential employment">
                <p>
                  Potential employment
                  <span class="heading">400</span>
                </p>
              </li>
            <li>
              <img src="../../../assets/images/query-icon-14.svg" alt="Interested Areas">
                <p>
                  Interested Areas
                  <span class="heading">Supplier</span>
                </p>
            </li>
          </ul>
          <div class="special-remarks">
              <p>
                Special remarks by creator: <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A condimentum vitae sapien pellentesque habitant morbi tristique senectus.
              </p>
          </div>
      </section>


      <div class="data_sec_bottom">
        <input type="checkbox" class="selectIndividual">
        <a href="individual-edit.html"><i class="fas fa-pen"></i></a>
        <p class="date_time">
          Create Date: 10th June, 2018 Time: 04:20pm
        </p>
      </div>
      <section class="data_sec">
          <ul>
            <li>
              <img src="../../../assets/images/query-icon-1.svg" alt="Name of the creator">
              <p>
                Name of the creator
                <span class="heading">Adarsh Sharma, IGH</span>
              </p>
            </li>
            <li>
              <img src="../../../assets/images/query-icon-2.svg" alt="Event of lead generation">
              <p>
                Event of lead generation
                <span class="heading">Vibrant Gujarat</span>
              </p>
            </li>
            <li>
              <img src="../../../assets/images/query-icon-3.svg" alt="Investor name">
                <p>
                  Investor name
                  <span class="heading">Tesla</span>
                </p>
            </li>
            <li>
              <img src="../../../assets/images/query-icon-4.svg" alt="Lead category">
                <p>
                  Lead category
                  <span class="heading">Mou</span>
                </p>
              </li>
            <li>
              <img src="../../../assets/images/query-icon-5.svg" alt="Date of creation">
              <p>
                Date of creation
                <span class="heading">1st Feb,2017</span>
              </p>
            </li>
            <li>
              <img src="../../../assets/images/query-icon-6.svg" alt="HQ location">
                <p>
                  HQ location
                  <span class="heading">Dalas</span>
                </p>
              </li>
            <li>
              <img src="../../../assets/images/query-icon-7.svg" alt="Origin country">
                <p>
                  Origin country
                  <span class="heading">United States</span>
                </p>
              </li>
            <li>
              <img src="../../../assets/images/query-icon-8.svg" alt="Manufacturing">
                <p>
                  Sector
                  <span class="heading">Manufacturing</span>
                </p>
              </li>
            <li>
              <img src="../../../assets/images/query-icon-9.svg" alt="Automobiles">
                <p>
                  Sub sector
                  <span class="heading">Automobiles</span>
                </p>
              </li>
            <li>
              <img src="../../../assets/images/query-icon-10.svg" alt="State">
                <p>
                  State
                  <span class="heading">Gujarat</span>
                </p>
              </li>
            <li>
              <img src="../../../assets/images/query-icon-11.svg" alt="Type">
                <p>
                  Type
                  <span class="heading">Brownfield</span>
                </p>
              </li>
            <li>
              <img src="../../../assets/images/query-icon-12.svg" alt="Investment (in INR Cr)">
                <p>
                  Investment (in INR Cr)
                  <span class="heading">500</span>
                </p>
              </li>
            <li>
              <img src="../../../assets/images/query-icon-13.svg" alt="Potential employment">
                <p>
                  Potential employment
                  <span class="heading">400</span>
                </p>
              </li>
            <li>
              <img src="../../../assets/images/query-icon-13.svg" alt="Interested Areas">
                <p>
                  Interested Areas
                  <span class="heading">Supplier</span>
                </p>
            </li>
          </ul>
          <div class="special-remarks">
              <p>
                Special remarks by creator: <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A condimentum vitae sapien pellentesque habitant morbi tristique senectus.
              </p>
          </div>
      </section>

    </div>
  </div>

</main>
