<app-leftmenu></app-leftmenu>
<main class="squezeContent">
  <app-header></app-header>
  <section class="content_area">
    <div class="login_form hideDiv" id="top_login_sec">
      <a href="login.html"><i class="fas fa-unlock-alt"></i> Click to logout</a>
    </div>
      <ul class="breadcramp">
        <li>Lead management module</li>
      </ul>
    <div class="contact_hd">
        <h2>Lead management module
          <span>Please choose any of the module to get respective page</span>
        </h2>
        <ul>
          <li>
            <img src="../../assets/images/download.png" alt="Investment (in INR Cr)">Download excel template
          </li>
        </ul>
    </div>
    <div class="contact_block_sec">
      <div>
        <a routerLink="/add-lead" >
          <img src="../../assets/images/new-lead.svg" alt="Add new lead" class="black">
          <img src="../../assets/images/new-lead-active.svg" alt="Add new lead" class="white">
          <h3>Add new lead</h3>
        </a>
      </div>
      <div>
        <a routerLink="/search-lead" >
          <img src="../../assets/images/query-lead.svg" alt="Search Lead Data" class="black">
          <img src="../../assets/images/query-lead-active.svg" alt="Search Lead Data" class="white">
          <h3>Search Lead Data</h3>
        </a>
      </div>
    </div>
  </section>
</main>
