body {
margin: 0;   /* background-image: url(../images/menu-background-buttom.svg); */ background-position: left bottom;background-color: #0f5199; background-repeat: no-repeat; background-size:cover;}
body.loginBody{background: #e6edf5;}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }
.search_sec input:focus{border: 1px solid #043792;outline-style: solid; outline-color: #043792;}
.search_sec p{color: #fff; margin: 20px 0 0 20px; float: left;}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #222; }

a {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #222;
  color: #576f8c;
  text-decoration: none; }

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-top: 4px;
  font-style: normal;
  color: #222;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  text-transform: capitalize;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #222;
  text-transform: capitalize;
 }
 h3,label {
 text-transform: capitalize;
}
input,select,textarea{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #a9a9a9;
}
header { border-bottom: 1px solid #cccccc;  padding: 0}
aside,main{height: 100vh}
 .menu {
    display: inline-block;
    vertical-align: top;
    padding: 19px 20px;
    background: #0f5199;  cursor: pointer;
    box-sizing: border-box;
    transition: .5s ease all;
    -webkit-transition: .5s ease all;
  }
 .menu i {
      font-size: 22px;
      color: #fff;
    }
  header .top_sec {
    display: inline-block;
    vertical-align: top;
    padding: 10px; }

.left_panel {
  background: #0f5199;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
  width: 12%;
  box-sizing: border-box;
  /*box-shadow: 1px 1px 3px #999;*/
  overflow: hidden;
  z-index: 1;
}
.left_panel.hideDiv {
  width: 61px;
  transition: .5s ease all;
  -webkit-transition: .5s ease all;
}
.left_panel.hideDiv span{display: none;}
.left_panel.hideDiv span{
  display: none;
}
.left_panel.showDiv {
  width: 18%;
  transition: .5s ease all;
  -webkit-transition: .5s ease all;
}
.menu.showDiv {
  width: 19%;
  transition: .5s ease all;
  -webkit-transition: .5s ease all;
}
.menu.hideDiv {
  width: 61px;
  transition: .5s ease all;
  -webkit-transition: .5s ease all;
}
.left_panel nav > ul >  li {
  font-size: 16px;
  padding: 10px 0px 0px 0;
}
.left_panel nav > ul > li.selected > p > a{color: #fff;}
.left_panel nav > ul > li > ul > li.selected > a{color: #fff;}
.left_panel nav > ul >  li a{color: #559adb;}
.left_panel nav > ul > li > p {
    font-weight: 400;
    color: #559adb;
    margin: 0;
    padding: 2px 17px;
}
.left_panel nav > ul > li > p span{padding-left: 10px; display: inline-block; vertical-align: top;}
.left_panel ul.sub_nav li a{
  padding: 8px 25px;
  display: block;
}
.left_panel ul.sub_nav li.selected a{border-left: 5px solid #DF5492; }
.left_panel ul.sub_nav li a img{
  margin-right: 16px;
  display: inline-block;
  color: #00519A;
  width: 16px;
}
.left_panel ul.sub_nav li a span{
  display: inline-block;
  width: 87%;
  vertical-align: top;
}

.content_area {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */


body {
  color:#434343;
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  font-weight: 300;
 }
header:after{
  display: block;
  clear: both;
  content: ""
}
.logo_sec{
  display: inline-block;
  vertical-align: top;
  padding: 8px;
}
.logo_sec img{display: inline-block; vertical-align: middle; margin: 8px 8px 0;}
.top_right{
  float: right;
}
.user_sec{
  display: inline-block;
  vertical-align: top;padding: 14px; box-sizing: border-box;
  margin-right: 8px;
}
.user_sec span{border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;-o-border-radius: 50%;
  width: 30px; height: 30px; background: #c3cfda; display: inline-block; vertical-align: top; text-align: center; line-height: 30px;}
.search_sec{
  display: inline-block;
    width: 150px;
    height: 58px;
    vertical-align: top;
    padding: 0 0 0 14px;
    box-sizing: border-box;
    background: #00519a;
}
.search_sec i{
    display: inline-block;
    vertical-align: middle;
    float: left;
    color: #fff;
    margin-top: 23px;
  }
.search_sec i.fas.fa-angle-up,.search_sec i.fas.fa-angle-down{
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    float: right;
    margin-right: 14px;
    cursor: pointer;
}
.search-text{
  float: left;
    margin-left: 10px;
    margin-top: 22px;
    color: #dde0f1;
}
.search_sec input{display: inline-block; vertical-align: middle;  background: #00519a; border: 1px solid  #00519a;color: #fff; height: 30px;}
.user_sec p{
  display: inline-block;
  vertical-align: top;
  margin: 7px 10px 0 0;
}
.user_sec i{
  display: inline-block;
  vertical-align: top;
  margin: 7px 0 0 0;
  color: #b9c8d6;}
.form_field{
  width: calc(21.5% - 25px);
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
.form_field_long{
  width: calc(60% - 0px);
  display: inline-block;
  vertical-align: top;
  margin: 35px 10px 0;
}
.form_field_butn{
  /*width: calc(20% - 25px);*/
  display: inline-block;
  vertical-align: top;
  text-align: right;
  margin: 30px 0 0;
}
.form_row{margin: 10px 0 20px;}
.form_row:after{display: block; clear: both; content: ""}
.search_form{background: #00519a; padding: 20px;color: #fff; background-image: url("../images/graph.svg"); background-repeat: no-repeat; background-position: bottom right;}
.login_form{padding: 10px 20px;color: #fff; position: absolute; z-index: 2;right: 0; background: #eee; background-repeat: no-repeat; background-position: bottom right; width: 200px; border-left: 3px solid #1e7ade; box-shadow: 0 0 10px #555;transition: .5s ease all;-webkit-transition: .5s ease all;}
.login_form i{font-size: 16px; margin-right: 10px;}
.login_form a:hover{color: #1e7ade;}
.search_form label{display: block; margin-bottom: 9px;}
.search_form input[type="text"],.search_form select {
    display: block;
    width: 94%;
    border-radius: 4px;
    border: 1px solid #819BC8;
    background: none;
    height: 35px;
    color: #a7c8e8;
  }
.search_form select {
  display: block;
  width: 96%;
  border: 1px solid #819BC8;
  background: none;
  height: 39px;
  color: #a7c8e8;
}
.search_form input[type="radio"]{width: auto; display: inline-block; vertical-align: middle; margin-top: 0;
    margin-right: 10px;}
.form_sub_field{width: 100%; display: inline-block; vertical-align: top;}
.search_form .form_sub_field{width: 48%; display: inline-block; vertical-align: top;}
.search_form label{color: #cad8f1; font-weight: 100; }
.form_field p{
  color: #bfd8f1;
  margin: 0 0 18px 0;
  }
.querySec{padding-bottom:30px; margin-top:0; width: 98%; box-sizing: border-box;}
.for_all:after{display: block; clear: both; content: ""}
.for_all{margin-bottom: 20px; cursor: pointer;}
.querySec h2{display: inline-block; vertical-align: top; margin-top: 0;}
ul.tool_list{float: right;} 
.for_all ul li{display: inline-block; vertical-align: top; margin-left: 20px; padding-left: 24px; position: relative;}
.for_all ul li img{position: absolute; top: 0; left: 0;}
.contact_hd:after{display: block; clear: both; content: ""}
.contact_hd {margin: 0px auto;  width: 100%;}
.contact_hd h2{display: inline-block; vertical-align: top; margin: 0; font-weight: 300;}
.contact_hd h2 span{display: block; font-style: normal; font-size: 14px; margin-top: 5px;}
.contact_hd ul{float: right; cursor: pointer;}
.contact_hd ul li{display: inline-block; vertical-align: top; margin-left: 20px; padding-left: 24px; position: relative; margin-right: 16px;}
.contact_hd ul li img{margin: -3px 10px;}
.contact_block_sec{text-align: center; margin:120px auto; width: 100%}
.contact_block_sec > div{width: 230px; height: 230px; margin: 10px;padding: 30px; box-sizing: border-box; background: #e6edf5; display: inline-block;
  vertical-align: top; border-radius: 3px; -webkit-border-radius: 3px; -ms-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px;
  position: relative; transition: .5s ease all; -webkit-transition: .5s ease all;}
.contact_block_sec > div:hover{background: #043792 no-repeat; background-image: url('../images/selected_background.svg'); background-size: cover;}
.contact_block_sec > div:hover .black{display: none}
.contact_block_sec > div:hover .white{display: block}
.contact_block_sec > div .black{display: block}
.contact_block_sec > div .white{display: none}
.contact_block_sec > div > a>img{margin: 31px auto 0;}
.contact_block_sec > div >a{display: block;}
.contact_block_sec h3{font-size: 16px; font-weight: 400; position: absolute; bottom: 50px; left: 0; right: 0; margin: auto; top:auto; color: #576f8c;}
.contact_block_sec > div:hover h3{color: #fff;}

.lead-align{
  height: auto; display: inline-block; vertical-align: top; width: 49%;}
.lead{text-align: left; margin:20px auto; float: left; width: 90%;}
.lead > div{width: 208px; height: 208px; margin: 10px;padding: 30px; box-sizing: border-box; background: #e6edf5; display: inline-block;
  vertical-align: top; border-radius: 3px; -webkit-border-radius: 3px; -ms-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px;
  position: relative; transition: .5s ease all; -webkit-transition: .5s ease all; text-align: center;}
.lead > div:nth-child(2n){margin-left: 0;}
.lead > div:hover{background: #043792 no-repeat; background-image: url('../images/selected_background.svg'); background-size: cover;}
.lead > div:hover .black{display: none}
.lead > div:hover .white{display: block}
.lead > div .black{display: block}
.lead > div .white{display: none}
.lead > div > a>img{margin: 31px auto 0;}
.lead > div >a{display: block;}
.lead h3{font-size: 16px; font-weight: 400; position: absolute; bottom: 50px; left: 0; right: 0; margin: auto; top:auto; color: #576f8c;}
.lead > div:hover h3{color: #fff;}



.data_sec{background: #eaeff5; /*border: 1px solid #c3cfda;*/ padding: 10px 20px 10px 24px;}
.data_sec input[type="checkbox"]{display: inline-block; vertical-align: top; width: 15px;}
.data_sec ul{display: inline-block; vertical-align: top; width: calc(100% - 26px)}
.data_sec ul li{display: inline-block; vertical-align:  top; width: 16%; padding-left: 20px; margin-top: 10px;box-sizing: border-box; position: relative;}
.data_sec ul li p{margin-top: 0;}
.data_sec ul li p span{display: block; color: #00519A}
.data_sec ul li img{position: absolute; left: 0; top: 0; width: auto;}
.data_sec_bottom{background: #e0e7ef; /*border: 1px solid #c3cfda;*/ padding: 13px 20px;text-align: left; border-bottom: none; margin-top: 20px;}
.search_form input[type="button"],.next_butn  input[type="button"],.form_field_butn input[type="button"],.btn{ border: none; margin-right: 20px; text-transform: uppercase; width: 187px;
  height: 48px; cursor: pointer;color: #fff; letter-spacing: .6px;
font-size: 12px;
border-radius: 5px; transition: .5s ease all; -webkit-transition: .5s ease all;-webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px;
-o-border-radius: 5px;background: rgba(134,84,205,1);
background: -moz-linear-gradient(left, rgba(134,84,205,1) 0%, rgba(219,84,148,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(134,84,205,1)), color-stop(100%, rgba(219,84,148,1)));
background: -webkit-linear-gradient(left, rgba(134,84,205,1) 0%, rgba(219,84,148,1) 100%);
background: -o-linear-gradient(left, rgba(134,84,205,1) 0%, rgba(219,84,148,1) 100%);
background: -ms-linear-gradient(left, rgba(134,84,205,1) 0%, rgba(219,84,148,1) 100%);
background: linear-gradient(to right, rgba(134,84,205,1) 0%, rgba(219,84,148,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8654cd', endColorstr='#db5494', GradientType=1 );}
.btn{text-align: center; line-height: 51px; margin: 30px auto; display: block;}
.btn.right{float: right;}
.selectIndividual{margin-right: 10px;}
.search_form input[type="button"]:hover,.next_butn  input[type="button"]:hover,.form_field_butn input[type="button"]:hover,.btn:hover{background: rgba(219,84,147,1);
background: -moz-linear-gradient(left, rgba(219,84,147,1) 0%, rgba(134,84,205,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(219,84,147,1)), color-stop(100%, rgba(134,84,205,1)));
background: -webkit-linear-gradient(left, rgba(219,84,147,1) 0%, rgba(134,84,205,1) 100%);
background: -o-linear-gradient(left, rgba(219,84,147,1) 0%, rgba(134,84,205,1) 100%);
background: -ms-linear-gradient(left, rgba(219,84,147,1) 0%, rgba(134,84,205,1) 100%);
background: linear-gradient(to right, rgba(219,84,147,1) 0%, rgba(134,84,205,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db5493', endColorstr='#8654cd', GradientType=1 );}


.search_form.hideDiv{height: 0; padding:0px 20px; overflow: hidden;transition: .5s ease all;-webkit-transition: .5s ease all;}
.search_form.hideDiv{height: 0; padding:0px 20px; overflow: hidden;transition: .5s ease all;-webkit-transition: .5s ease all;}
.login_form.hideDiv{height: 0; padding:0px 20px; overflow: hidden;transition: .5s ease all;-webkit-transition: .5s ease all;}
.login_form.hideDiv{height: 0; padding:0px 20px; overflow: hidden;transition: .5s ease all;-webkit-transition: .5s ease all;}
.left_panel.hideDiv ul.sub_nav li a span{display: none;}
.left_panel.showDiv ul.sub_nav li a span{display: inline-block;width: 82%; }
.left_panel ul.sub_nav li a span{display: none;}
.search_form.showDiv{height: auto; padding:10px; transition: .5s ease all; -webkit-transition: .5s ease all;-webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px;}

.nodata{text-align: center; min-height: 250px;}
.details_part{width: 100%}
.details_part >a:after{display: block; clear: both; content: ''}
.details_part i{font-style: normal;}
.details_part a.toggle > i{font-style: normal; float: right;}
.details_part > a > h3{width: 85%; float: left;}
.details_part h3{font-size: 18px; font-weight: 300; color: #2c80cc;}
.details_part:after{display: block; content: ""; clear: both;}
.individual_sec .details_part_col{display: inline-block; vertical-align: top; width:28.5%; margin:10px 2%;}
.individual_sec .details_part_col_4{display: inline-block; vertical-align: top; width:20.5%; margin:10px 2%;}
.individual_sec .details_part_col:last-child{margin-right: 0;}
.details_part_2col{display: inline-block; vertical-align: top; width:45%; margin:10px 2%;}
.details_part_2col label{display: block; margin: 0 0 10px 0;}
.details_part_col{display: inline-block; vertical-align: top; width:28.5%; margin:10px 2% 10px 2%;}
.details_part_col_full{ margin:10px 2%;}
.details_part_col label{display: block; margin: 9px 0 10px 0;}
.details_part_col input[type="text"],.details_part_col input[type="email"],.details_part_col input[type="number"],.details_part_col select{display: block;width: 100%; height: 35px;background: #eaeff5; box-sizing: border-box; padding:0 10px;}
.details_part_col select{display: block;width: 100%; height: 35px;background: #eaeff5;  border: 1px solid #a9a9a9;}
.details_part_col_full label{display: block; margin: 0 0 10px 0;}
.details_part_col_full textarea,.details_part_2col textarea, .details_part_row textarea{display: block;width: 100%; height: 115px; resize: none; margin-bottom: 10px; border: 1px solid #a9a9a9;background: #eaeff5;}
.details_part_row span{color: #ff0045;}
.form_field_butn{float: right; margin-right: 22px;}
.next_butn {float: none;  margin: 0 auto; text-align: center; display: block; width: 90%;}
.dashboard_table{width: 98%;border: 1px solid #ddd;}
.dashboard_table th{background: #0f5199; color: #fff; font-weight: 400; padding: 10px;  border-left: 1px solid #ddd;}

.dashboard_table tbody tr:hover td{background: #eaeff5}
.dashboard_table tbody tr:hover td i.fas.fa-pen{color: #f00; cursor: pointer;}
.dashboard_table tbody tr td i.fa-check-circle{display: none; color: #090}
.dashboard_table tbody tr.selected td i.fas.fa-pen{display: none;}
.dashboard_table tbody tr.selected td i.fa-check-circle{display: block; cursor: pointer;}
.dashboard_table tbody tr.selected td {border-top: 1px dashed #f00;  border-bottom: 1px dashed #f00;}
.dashboard_table tbody tr.selected td:first-child {border-left: 1px dashed #f00; }
.dashboard_table tbody tr.selected td:last-child {border-right: 1px dashed #f00; }
.dashboard_table th:first-child{border-left: none;}
.dashboard_table td{border: 1px solid #ddd; padding: 10px;}
.contact_hd h2 .fas.fa-search {background: #313fa8; padding: 8px; color: #fff; border-radius: 3px; font-size: 16px; margin-left: 10px;}
.search_form.search_page_form{background-color: #313fa8; margin-top: -3px; width: 96%;}


.contact_sec{background: #eaeff5; padding: 10px 20px 10px 5px;margin-bottom: 20px;}
.contact_sec input[type="checkbox"]{display: inline-block; vertical-align: top; width: 15px;}
.contact_sec ul{display: inline-block; vertical-align: top; width: calc(100% - 26px)}
.contact_sec ul li{display: inline-block; vertical-align:  top; width: 16%; padding-left: 20px; margin-top: 10px;box-sizing: border-box; position: relative;}
.contact_sec ul li p{margin-top: 0;}
.contact_sec ul li p span{
    display: block;
    margin-top: 6px;
    font-weight: 400;
    color: #00519A;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.jquery-modal.blocker.current .modal {padding: 30px 15px 15px;}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#ex1.modal{height: 300px;}
#ex1.modal a.close-modal{
  top: 0;
  right: 0;
}
#ex1.modal h2,#ex1.modal p{
  text-align: center;
  font-style: normal;
}

#ex2.modal{height: 200px;}
#ex2.modal a.close-modal{
  top: 0;
  right: 0;
}
#ex2.modal h2,#ex2.modal p{
  text-align: center;
  font-style: normal;
}

#ex3.modal{height: 200px;}
#ex3.modal a.close-modal{
  top: 0;
  right: 0;
}
#ex3.modal h2,#ex3 .modal p{
  text-align: center;
  font-style: normal;
}

/* .file_upload{border: 1px dashed #999; text-align: center; background: #eaeff5; padding: 20px;} */
.file_upload {
    text-align: center;
    border-radius: 4px;
    background: #fff;
    padding: 20px;
    box-shadow: -1px 4px 13px 3px #3f51b52e;
}
.login{background: url(../images/Login_background.jpg) no-repeat; background-size: cover; height: 100vh; width: 100vw; position: relative;}
.loginSec{width: 300px; max-width: 90%; padding: 50px 40px 20px; text-align: center;background: #fff; border-radius: 3px; -webkit-border-radius: 3px;
  -moz-border-radius: 3px;  -ms-border-radius: 3px; -o-border-radius: 3px; margin:auto; position: absolute; left: 0; right: 0; top: 0; bottom: 0; max-height: 325px}
.input_text{border: 1px solid #999; padding: 0 10px 0; margin: 20px auto;}
.input_text input{border: 1px solid #fff;width: 90%; height: 33px;}
.input_text img{display: inline-block; vertical-align: middle;}
.input_text input:focus{outline: 1px solid #fff;}
.login_btn{border: 1px solid #fff;width: 100%; display: block;height: 50px; color: #fff; padding: 15px; box-sizing: border-box; cursor: pointer; margin: 20px auto;
  background: rgba(14,142,255,1);
  background: -moz-linear-gradient(left, rgba(14,142,255,1) 0%, rgba(22,30,92,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(14,142,255,1)), color-stop(100%, rgba(22,30,92,1)));
  background: -webkit-linear-gradient(left, rgba(14,142,255,1) 0%, rgba(22,30,92,1) 100%);
  background: -o-linear-gradient(left, rgba(14,142,255,1) 0%, rgba(22,30,92,1) 100%);
  background: -ms-linear-gradient(left, rgba(14,142,255,1) 0%, rgba(22,30,92,1) 100%);
  background: #00519a;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e8eff', endColorstr='#161e5c', GradientType=1 );
}
.remember:after{clear: both; display: block; content: ""}
.remember label{float: left;}
.remember a {float: right; color: #444;}
main.login {
    /* width: calc(94% - 13%); */
    margin: 0 auto;
    position: relative;
}main.login.squezeContent {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
main.squezeContent {
    width: calc(95% - 13%);
    margin: -1px auto 0 18%;
    position: relative;
}
main.squezeContent:after,.content_area:after{
  display: block; clear: both; content: "";
}
.content_area{
background: #fff;}
main {
    width: calc(100% - 65px);
    margin: -1px auto 0 65px;
    background: #fff;
}


/* .content_area {
background: url("../images/footar-graphics.png") no-repeat;
background-position: bottom center;} */


.date_time{
  float: right;
  margin: 0;
}
.dashboard_table input{max-width: 75px; padding: 5px; box-sizing: border-box;}

.breadcramp{margin: 0;}
.breadcramp li{display: inline-block; vertical-align: top; color: #4A90E2}
.breadcramp li span{margin: 0 5px;}
.breadcramp li a:hover{color:#999}

.search_sec > input {
    display: inline-block;
    vertical-align: middle;
    background: #00519a;
    border: 1px solid #00519a;
    color: #fff;
    width: 80px;
    height: 30px;
    margin: 13px 0px 0 10px;
}

ul.formAcc {
  list-style: none;
  padding: 0;
}
ul .inner {
  padding: 10px 10px 30px 10px;
  overflow: hidden;
  display: none;
  border: 1px solid #eaeff5;
  background: #eaeff5;
  border-top: 1px solid  #e0e7ef;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}
ul .inner.show {
  /*display: block;*/
}
ul li {
  margin: 10px 0;
}
ul li a.toggle {
  width: 100%;
  box-sizing: border-box;
  display: block;
  background: #e0e7ef;
  color: #222;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  transition:  0.3s ease all;
}
.details_part h3{
  color: #222;
}
ul li a.toggle h3{
  margin: 0;
}
/* ul li a.toggle:hover {
  background: rgba(0, 0, 0, 0.9);
} */

.form_right{background: #fff; padding:3%; box-sizing: border-box;border-radius: 5px;float: right;  width: 28%; margin: 20px 2% 0 0;}
.form_right .details_part_row{width: 100%;display: block; margin: 0 auto 10px;}
.form_right .details_part_row select,.form_right .details_part_row input,.form_right .details_part_row textarea{display: block;  height: 35px; border: 1px solid #a9a9a9;background: #fff;}
.details_part_row select,.details_part_row input{width: 100%;display: block;  height: 32px; border: 1px solid #a9a9a9;background: #eaeff5;}
.details_part_row label{width: 100%;display: block; margin: 0 0 10px 0}
.form_left{float: left; width: 68%; ;}
.form_right h3{ margin-top: 0;}
.form_right h3:after{display: block; width: 30px; height: 6px; background: #eaeff5; content: ''; display: block; border-radius: 5px; margin-top: 6px;}
.form_left .details_part_row{width: 98%;display: block; }
.accordion .form_sub_field [type="radio"]:checked,.form_sub_field [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.accordion .form_sub_field [type="radio"]:checked + label{position: relative; cursor: pointer; line-height: 20px; display: inline-block; width: 40%; color: #fff; background:#4A90E2; border: 1px solid #4A90E2;padding:7px 10px;text-align: center;}
.accordion .form_sub_field [type="radio"]:not(:checked) + label{position: relative; cursor: pointer; line-height: 20px; display: inline-block; width: 40%; color: #222; background:#eaeff5; padding:7px 10px;text-align: center; border: 1px solid #a9a9a9;}
.accordion .form_sub_field [type="radio"]:checked + label:before,
.accordion .form_sub_field [type="radio"]:not(:checked) + label:before {content: '';  position: absolute;    left: 0;  top: 0;  width: 18px;  height: 18px; border: 1px solid #ddd; border-radius: 100%; background: #fff;opacity:0}
.accordion .form_sub_field [type="radio"]:checked + label:after,
.accordion .form_sub_field [type="radio"]:not(:checked) + label:after {content: '';  width: 12px;    height: 12px; background: #F87DA9; position: absolute; top: 4px; left: 4px; opacity: 0;}

#Brownfield+ label{margin-left: -4px; border-radius: 0 5px 5px 0;}
#Greenfield+ label{margin-left: -4px; border-radius: 5px 0 0 5px;}

.search_form [type="radio"]:checked,.search_form [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.search_form [type="radio"]:checked + label{position: relative; cursor: pointer; line-height: 20px; display: inline-block; width: 35.5%; color: #fff; background:#4A90E2; border: 1px solid #4A90E2;padding:7px 10px;text-align: center;}
.search_form [type="radio"]:not(:checked) + label{position: relative; cursor: pointer; line-height: 20px; display: inline-block; width: 35.5%; color: #222; background:#eaeff5; padding:7px 10px;text-align: center; border: 1px solid #a9a9a9;}
.search_form [type="radio"]:checked + label:before,
.search_form [type="radio"]:not(:checked) + label:before {content: '';  position: absolute;    left: 0;  top: 0;  width: 18px;  height: 18px; border: 1px solid #ddd; border-radius: 100%; background: #fff;opacity:0}
.search_form  [type="radio"]:checked + label:after,
.search_form [type="radio"]:not(:checked) + label:after {content: '';  width: 12px;    height: 12px; background: #F87DA9; position: absolute; top: 4px; left: 4px; opacity: 0;}
.form_field p{margin: 0 0 10px 0}


.details_part_col input[type="text"].date_field{background: url("../images/date.svg") no-repeat 10px; padding-left: 30px; box-sizing: border-box;}


.details_part_col input[type="number"].std{width: 50px; display: inline-block; vertical-align: top;border-radius: 5px 0 0 5px;}
.details_part_col input[type="text"].std{width: 57px; display: inline-block; vertical-align: top;border-radius: 5px 0 0 5px;}
.details_part_col input[type="number"].number{width: calc(100% - 57px); margin-left: -5px;display: inline-block; vertical-align: top; border-radius: 0 5px 5px 0;}

.toggle .fas{color: #4A90E2; font-size: 22px;}
#ex1.modal a.close-modal,#ex2.modal a.close-modal{background: url("../images/close.png") no-repeat; background-position: 0 0; background-size: 18px; top:10px}
.modal{    padding: 30px 15px 15px;}
/*===============Responsive start================*/
@media only screen and (max-width:560px) {}

@media only screen and (max-width:767px) {
  .logo_sec {
      display: inline-block;
      vertical-align: top;
      padding: 0;
  }
  h1 {
      font-size: 12px;
      display: block;
      margin-left: 10px;
  }
  .logo_sec img {display: inline-block; vertical-align: middle; margin: 0px 8px 0;}
  /*.top_right { float: none;}*/
  .search_sec {padding: 0 0 0 14px; width: 45%;}
  .user_sec {padding: 8px 0; width: auto; text-align: right;}

  /* .search_sec i.fas.fa-angle-up, .search_sec i.fas.fa-angle-down {padding: 16px 7px; float: right;} */
  .form_field {width: 98%; display: block; margin: 10px;}
  .left_panel.showDiv,.menu.showDiv,.left_panel.hideDiv,.menu.hideDiv{width: 60px;}
/* .content_area.squezeContent {
   width: calc(94% - 30%);
    margin: -1px auto 0 35%;
} */
.lead-align {
    float: none;
    width: 100%;
    margin: 0 auto;
}
.lead-align h2{text-align: left;}
.contact_hd ul {
    float: none;
    cursor: pointer;
    margin: 20px 0;
}
.contact_hd ul li {
    display: block;
    vertical-align: top;
    margin-left: 0;
    padding-left: 0;
    position: relative;
    margin-right: 0;
}
   .left_panel.showDiv span{display: none;}
  .form_field_long {width: 100%; display: block;  margin: 10px;}
  .form_field_butn { float: none; margin: 0 auto; display: block; text-align: center;  width: 200px;}
  .querySec { padding: 10px 25px 10px 35px;  margin-top: 20px;}
  .for_all ul li {display: inline-block; vertical-align: top; margin: 10px 0;}
  .data_sec ul li {display: block; width: 100%; padding-left: 20px; margin-top: 10px; box-sizing: border-box; position: relative;}
  /* .top_right { float: none;  border-top: 1px solid #ccc;} */
  .details_part_col {display: block; vertical-align: top; width: 100%; margin: 10px 0 10px 0;}
  .left_panel ul.sub_nav li a img {
    margin-top: 5px;
    margin-right: 5px;
}
.left_panel ul.sub_nav li a {
    padding: 4px 20px;
}
.left_panel.showDiv ul.sub_nav li a span{
    display: none;
}
main.squezeContent,main {
    width: calc(94% - 9%);
    margin: -1px auto 0 15%;
}
.top_right {
    float: right;
    width: 68%;
}
.individual_sec .details_part_col {
    width: 47%;
}
.contact_sec ul li {
    width: 32%;
}.for_all ul li {
    margin: 4px 0;
}.details_part {
    width: 100%;
    overflow-x: auto;
}.user_sec { float: right;}
.contact_block_sec {
    margin: 20px auto;
}
.details_part_col input[type="text"], .details_part_col input[type="email"], .details_part_col input[type="number"], .details_part_col select, .inner textarea{width: 99%; background: #eaeff5; padding:0 10px; box-sizing: border-box;}
.lead > div {width: 170px; height: 200px; margin: 10px;  padding: 10px;}
.for_all ul {
    float: none;
    margin: 5px 0;
}
.search_form input[type="text"], .search_form select {
    display: block;
    width: 99%;
    border-radius: 4px;
    border: 1px solid #819BC8;
    background: none;
    height: 35px;
    color: #a7c8e8;
}
.querySec {padding: 10px;  margin-top: 0;}
.form_left,.form_right { float: none;   width: 100%;}
.querySec .for_all { margin-bottom: 0;}
.querySec .for_all h2{ margin-bottom: 0; }
}
@media only screen and (min-width:768px) and (max-width: 979px){
  .logo_sec {
      display: inline-block;
      vertical-align: top;
      padding: 0;
  }
  h1 {
      font-size: 12px;
      display: block;
      margin-left: 10px;
  }
  h2 {
      font-size:20px;
  }
  .lead > div:nth-child(2n) {
    margin-left: 10px;
}
  .logo_sec img {display: inline-block; vertical-align: middle; margin: 0px 8px 0;}
  /*.top_right { float: none;}*/
  .search_sec {padding: 0 0 0 14px; width: 45%;}
  .user_sec {padding: 8px 0; width: auto; text-align: right;}
  .search_sec input{width: 100px;}
  .top_right {
    width: 62%;
}main {
    width: 94%;
    margin: -1px auto 0 8%;
}
  .form_field {width: calc(32% - 20px); margin: 0 10px 13px;}
  .form_field_long {/*width: calc(44% - 0px);  */display: inline-block; margin: 35px 10px 0;}
  .data_sec ul li {width: 24%;}
  .details_part_col {width: 30%; margin: 10px 15px 10px 0;}
  .form_field_butn {width: calc(26% - 25px);}
  .left_panel.showDiv { width: 22%;}
  main.squezeContent {
      width: calc(94% - 25%);
      margin: -1px auto 0 31%;
      position: relative;
  }
.left_panel.showDiv {
    width: 33%;
}.left_panel nav > ul > li > p {
    padding: 2px 8px;
}
.left_panel nav > ul > li > p span {
    padding-left: 4px;
}.left_panel nav > ul > li {
  font-size: 12px;
}.left_panel ul.sub_nav li a {
    padding: 4px 32px;
    display: block;
}.left_panel ul.sub_nav li a {
    padding: 4px 27px;
    display: block;
}.left_panel ul.sub_nav li a img {
    margin-right: 9px;
}
.contact_sec ul li {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    padding-left: 20px;
    margin-top: 10px;
    box-sizing: border-box;
    position: relative;
}.left_panel.showDiv {
    width: 30%;
}
.contact_hd ul {
    float: none;
    cursor: pointer;
    margin: 20px 0;
}.contact_hd ul li {
    display: block;
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
}.contact_block_sec {
    text-align: center;
    margin: 20px auto;
    width: 100%;
}
.details_part_col {
    width: 46%;
    margin: 10px 15px 10px 0;
}
.form_field_butn {
    width: auto;
}
.for_all ul {
    float: right;
    margin: 4px 0;
}
.for_all ul li {
    margin-left: 9px;
    padding-left: 24px;
    position: relative;
}
.data_sec ul li {
    width: 49%;
}
.individual_sec .details_part_col {
    width: 30.5%;
}
.details_part {
    width: 100%;
    overflow-x: auto;
}
.user_sec {float: right;}
.form_left,.form_right { float: none;   width: 100%;}
.querySec .for_all { margin-bottom: 0;}
.querySec .for_all h2{ margin-bottom: 0; }
.form_field { width: calc(100% - 20px);  margin: 0 10px 13px;}
.search_form [type="radio"]:checked + label{width: 38%}
}
@media only screen and (min-width:980px) and (max-width: 1170px){
  .logo_sec {width: 42%;padding: 8px 0; }
  .content_area{padding: 0 10px;}
  h1{font-size: 16px;}
  .top_right {width: 49%; text-align: right;}
  .search_sec input{width: 100px;}
  .form_field {width: calc(32% - 20px); margin: 0 10px 13px;}
  .form_field_long {width: calc(44% - 0px);  display: inline-block; margin: 35px 10px 0;}
  .data_sec ul li {width: 24%;}
  .details_part_col {width: 30%; margin: 10px 15px 10px 0;}
  .form_field_butn {width: calc(26% - 25px);}
  .left_panel.hideDiv { width: 60px;}
  .left_panel.showDiv { width: 24%;}
  main {
      width: 94%;
      margin: -1px auto 0 8%;
  }
  main.squezeContent {
      width: calc(94% - 19%);
      margin: -1px auto 0 25%;
      position: relative;
  }
.left_panel.showDiv {
    width: 24%;
}.left_panel nav > ul > li > p {
    padding: 2px 8px;
}
.left_panel nav > ul > li > p span {
    padding-left: 4px;
}.left_panel nav > ul > li {
  font-size: 12px;
}.left_panel ul.sub_nav li a {
    padding: 4px 32px;
    display: block;
}.left_panel ul.sub_nav li a {
    padding: 4px 27px;
    display: block;
}.left_panel ul.sub_nav li a img {
    margin-right: 9px;
}.contact_block_sec {
    margin: 50px auto;
    width: 100%;
}.querySec {
    width: 97%;
}
.details_part {
    width: 97%;
    margin: 0 auto;
}
.individual_sec .details_part_col {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 10px 2% 10px 0;
}
.contact_sec ul li {
    width: 24%;
}
.details_part {width: 97%;  margin: 0 auto;   overflow-x: auto;}
.details_part_col {width: 45%;  margin: 10px 15px 10px 0;}
.accordion .form_sub_field [type="radio"]:checked + label{width: 39%}
.lead{width: 100%}
.lead-align { height: auto;  display: block; vertical-align: top;  width: 100%;}
.lead > div:nth-child(2n) { margin-left: 10px;}
.lead > div {width: 21%;  height: 208px; padding: 10px 30px;}
.lead h3{width:90%}
.form_left .details_part_row {width: 45%;  display: inline-block;  margin-top: 6px;}
.form_right .details_part_row select, .form_right .details_part_row input, .form_right .details_part_row textarea{width: 100%}
}
@media only screen and (min-width:1171px) and (max-width: 1300px){
  .logo_sec {width: 42%;padding: 8px 0; }
  h1{font-size: 16px;}
  .top_right {width: 49%; text-align: right;}
  .search_sec input{width: 100px;}
  .form_field {width: calc(32% - 20px); margin: 0 10px 13px;}
  .form_field_long {width: calc(44% - 0px);  display: inline-block; margin: 35px 10px 0;}
  .data_sec ul li {width: 24%;}
  .details_part_col {width: 30%; margin: 10px 15px 10px 0;}
  .form_field_butn {width: calc(26% - 25px);}
  .left_panel.hideDiv { width: 60px;}
  .left_panel.showDiv { width: 22%;}
  main.squezeContent {
    width: calc(94% - 16%);
    margin: -1px auto 0 22%;
    position: relative;
}.left_panel nav > ul > li > p {
    padding: 2px 8px;
}
.left_panel nav > ul > li > p span {
    padding-left: 4px;
}.left_panel nav > ul > li {
  font-size: 12px;
}.left_panel ul.sub_nav li a {
    padding: 4px 32px;
    display: block;
}.left_panel ul.sub_nav li a {
    padding: 4px 27px;
    display: block;
}.left_panel ul.sub_nav li a img {
    margin-right: 9px;
}
.contact_block_sec > div {
    width: 200px;
    height: 200px;
}
.details_part {
    width: 100%;
    overflow-x: auto;
}
.lead > div {
    width: 200px;
    height: 208px;
    margin: 7px;
}
main {
    width: 94%;
    margin: -1px auto 0 6%;
}
.lead > div {width: 46%;  height: 208px; padding: 10px 30px;}
.lead h3{width:90%}
.form_left {
    float: left;
    width: 78%;
}
.form_right {
    padding: 2% 1%;
    float: right;
    width: 20%;
    margin: 20px 1% 0 0;
}
.form_right .details_part_row select, .form_right .details_part_row input, .form_right .details_part_row textarea{width: 97%;}
.accordion .form_sub_field [type="radio"]:checked + label{width: 39%;}
  /* .content_area { width: 94%;   margin-left: 6%;} */
}
