<app-leftmenu></app-leftmenu>
<main class="squezeContent">
  <app-header></app-header>
  <section class="content_area">
    <div class="login_form hideDiv" id="top_login_sec">
      <a href="login.html"><i class="fas fa-unlock-alt"></i> Click to logout</a>
    </div>
    <ul class="breadcramp">
      <li><a href="lead-management.html">Lead management module</a></li>
      <li><i class="fas fa-chevron-right"></i></li>
      <li>Add lead</li>
    </ul>
    <div class="querySec">
      <div class="for_all">
        <h2>Add lead</h2>
      </div>
      <ul class="accordion">
      <li class="details_part">
        <a class="toggle" href="javascript:void(0);"><h3>Basic details</h3><i class="fas fa-angle-down"></i></a>
        <div class="details_part_row inner" style="display:block">
          <div class="form_left">
            <div class="details_part_col">
              <label><span>*</span>Name of the Creator</label>
              <input type="text">
            </div>
            <div class="details_part_col">
              <label><span>*</span>Event of Lead Generation</label>
              <input type="text">
            </div>
            <div class="details_part_col">
              <label><span>*</span>Investor Name</label>
              <input type="text">
            </div>
            <div class="details_part_col">
              <label><span>*</span>Lead Category</label>
              <select></select>
            </div>
            <div class="details_part_col">
              <label><span>*</span>Mou Signing Department</label>
              <select></select>
            </div>
            <div class="details_part_col ">
              <label>Date Added</label>
              <input type="text" class="date_field">
            </div>
            <div class="details_part_col">
              <label><span>*</span>Type</label>
              <div class="form_sub_field">
                <input type="radio" id="Greenfield" name="radio-group" checked>
                <label for="Greenfield">Greenfield</label>
                <input type="radio" id="Brownfield" name="radio-group">
                <label for="Brownfield">Brownfield</label>
              </div>
            </div>
            <div class="details_part_col">
              <label><span>*</span>Investment (in INR Cr)</label>
              <input type="text">
            </div>
            <div class="details_part_col">
              <label><span>*</span>Potential Employment</label>
              <input type="text">
            </div>
            <div class="details_part_row">
              <div class="details_part_col_full">
                <label><span>*</span>HQ Location</label>
                <input type="text">
              </div>
            </div>
        </div>
        <div class="form_right">
          <h3>Sector Details</h3>
          <div class="details_part_row">
            <label><span>*</span>Origin Country</label>
            <select>
              <option></option>
            </select>
          </div>
          <div class="details_part_row">
            <label><span>*</span>Sector</label>
            <select></select>
          </div>
          <div class="details_part_row">
            <label><span>*</span>Sub-sector</label>
            <select></select>
          </div>
        </div>
        </div>
      </li>
      <li class="details_part">
        <a class="toggle" href="javascript:void(0);"><h3>Contact details</h3><i class="fas fa-angle-down"></i></a>
        <div class="details_part_row inner">
          <div class="form_left">
            <div class="details_part_col">
              <label><span>*</span>Name of the Contact Person</label>
              <input type="text">
            </div>
            <div class="details_part_col">
              <label><span>*</span>Email</label>
              <input type="email">
            </div>
            <div class="details_part_col">
              <label><span>*</span>Phone Number</label>
              <input type="text" class="std" value="+91">
              <input type="number" class="number">
            </div>
            <div class="details_part_col">
              <label><span>*</span>Fax</label>
              <input type="number">
            </div>
            <div class="details_part_col">
              <label><span>*</span>Mobile Number1</label>
              <input type="text" class="std" value="+91">
              <input type="number" class="number">
            </div>
            <div class="details_part_col">
              <label><span>*</span>Mobile Number2</label>
              <input type="text" class="std" value="+91">
              <input type="number" class="number">
            </div>
            <div class="details_part_col">
              <label><span>*</span>Name of the CEO</label>
              <input type="text">
            </div>
            <div class="details_part_col">
              <label>Email</label>
              <input type="email">
            </div>
            <div class="details_part_col">
              <label>Phone Number</label>
              <input type="text" class="std" value="+91">
              <input type="number" class="number">
            </div>
            <div class="details_part_col">
              <label>Fax</label>
              <input type="number">
            </div>
            <div class="details_part_col">
              <label>Mobile Number</label>
              <input type="text" class="std" value="+91">
              <input type="number" class="number">
            </div>
          </div>
          <div class="form_right">
            <h3>Interested Area</h3>
            <div class="details_part_row">
              <label><span>*</span>Interested Areas</label>
              <select></select>
            </div>
            <div class="details_part_row">
              <label><span>*</span>Interested State</label>
              <select></select>
            </div>
            <div class="details_part_row">
              <label><span>*</span>Interested Region</label>
              <select></select>
            </div>
          </div>
        </div>
      </li>
      <li class="details_part">
        <a class="toggle" href="javascript:void(0);"><h3>Project Details</h3><i class="fas fa-angle-down"></i></a>
          <div class="inner">
            <div class="details_part_row">
              <div class="details_part_col_full">
                <label>Details of Project<span>(Word limit minimum 500)</span></label>
                <textarea></textarea>
              </div>
            </div>
            <div class="details_part_row">
              <div class="details_part_col_full">
                <label>Special Remarks by Creator<span>(Word limit minimum 500)</span></label>
                <textarea></textarea>
              </div>
            </div>
            <div class="details_part_row">
              <div class="details_part_col">
                <label>Other Interest</label>
                <select></select>
              </div>
            </div>
        </div>
          <a href="#ex2" rel="modal:open" class="btn right">Submit</a>
      </li>
    </ul>
    </div>
  </section>
</main>
