<app-leftmenu></app-leftmenu>
<main class="squezeContent">
  <app-header></app-header>
  <section class="content_area">
    <div class="login_form hideDiv" id="top_login_sec">
      <a href="login.html"><i class="fas fa-unlock-alt"></i> Click to logout</a>
    </div>
    <ul class="breadcramp">
      <li><a href="contact-management.html">Contact management module</a></li>
      <li><i class="fas fa-chevron-right"></i></li>
      <li>Add individual contact</li>
    </ul>
    <div class="contact_hd">
      <h2>Add contact</h2>
    </div>
    <ul class="accordion">
      <li class="details_part individual_sec">
        <a class="toggle" href="javascript:void(0);"><h3>Basic details</h3><i class="fas fa-angle-down"></i></a>
        <div class="details_part_row inner" style="display:block">
          <div class="details_part_col details_part_col_4">
            <label><span>*</span>Title</label>
            <select>
              <option>Mr.</option>
              <option>Ms.</option>
              <option>Dr.</option>
              <option>Prof.</option>
              <option>Smt.</option>
              <option>Shri.</option>
              <option>Er.</option>
            </select>
          </div>
          <div class="details_part_col details_part_col_4">
            <label><span>*</span>First name</label>
            <input type="text" value="">
          </div>
          <div class="details_part_col details_part_col_4">
            <label><span>*</span>Middle name</label>
            <input type="text">
          </div>
          <div class="details_part_col details_part_col_4">
            <label><span>*</span>Last name</label>
            <input type="text" value="">
          </div>
        </div>
      </li>
      <li class="details_part individual_sec">
        <a class="toggle" href="javascript:void(0);"><h3>Contact details</h3><i class="fas fa-angle-down"></i></a>
        <div class="details_part_row inner">
          <div class="form_left">
          <div class="details_part_col">
            <label>Company name</label>
            <input type="text" value="">
          </div>
          <div class="details_part_col">
            <label>Company type</label>
            <input type="text" value="">
          </div>
          <div class="details_part_col">
            <label>Role</label>
            <input type="text" value="">
          </div>
          <div class="details_part_col">
            <label>Designation</label>
            <input type="text" value="">
          </div>
          <div class="details_part_col">
            <label>Department</label>
            <input type="text" value="">
          </div>
          <div class="details_part_col">
            <label>Sector of operation</label>
            <select>
              <option></option>
            </select>
          </div>
          <div class="details_part_col">
            <label><span>*</span>Email ID<i>(Official)</i></label>
            <input type="email" value="">
          </div>
          <div class="details_part_col">
            <label><span>*</span>Email ID<i>(Personal)</i></label>
            <input type="email" value="">
          </div>
          <div class="details_part_col">
            <label>Contact number <i>(Mobile)</i></label>
            <input type="text" class="std" value="+91">
            <input type="number" class="number">
          </div>
          <div class="details_part_col">
            <label>Contact number <i>(Office)</i></label>
            <input type="text" class="std" value="+91">
            <input type="number" class="number">
          </div>
          <div class="details_part_col">
            <label>Contact number <i>(Home)</i></label>
            <input type="text" class="std" value="+91">
            <input type="number" class="number">
          </div>
          <div class="details_part_col">
            <label>Fax1</label>
            <input type="number" value="">
          </div>
        </div>
        <div class="form_right">
          <h3>More</h3>
            <div class="details_part_row">
              <label>Company website</label>
              <input type="text" value="">
            </div>
            <div class="details_part_row">
              <label><span>*</span>KPMG contact <i>(Email ID)</i></label>
              <input type="email" value="">
            </div>
            <div class="details_part_row">
              <label>Level of relationship </label>
              <select>
                <option></option>
              </select>
            </div>
        </div>
        </div>
      </li>
      <li class="details_part individual_sec">
        <a class="toggle" href="javascript:void(0);"><h3>Address details</h3><i class="fas fa-angle-down"></i></a>
        <div class="details_part_row inner">
          <div class="form_left">
            <div class="details_part_row">
              <label>Current address</label>
              <textarea></textarea>
            </div>
            <div class="details_part_row">
              <label>Permanent Address</label>
              <textarea></textarea>
            </div>
            <div class="details_part_row">
              <label>Contact information last updated 02-04-2018</label>
            </div>
          </div>
          <div class="form_right">
            <h3>Location</h3>
            <div class="details_part_row">
              <label>Country</label>
              <select>
                <option></option>
              </select>
            </div>
            <div class="details_part_row">
              <label>City </label>
              <select>
                <option></option>
              </select>
            </div>
            <div class="details_part_row">
              <label>ZIP </label>
              <input type="number">
            </div>
          </div>
        </div>
        <a href="#ex2" rel="modal:open" class="btn right">Save</a>
      </li>
    </ul>
  </section>
</main>
