<main class="login">
  <div class="loginSec">
    <img src="../../assets/images/logo.svg" alt="KPMG">
    <p>Economic Development Digital Solutions</p>
    <form>
      <div class="input_text">
        <img src="../../assets/images/user.svg" alt="user id">
        <input type="text" placeholder="Username">
      </div>
      <div class="input_text">
        <img src="../../assets/images/password.svg" alt="password">
        <input type="password" placeholder="Password">
      </div>
      <div class="remember">
        <label>
          <input type="checkbox"> Remember me
        </label>
        <a href="#">Forgot password?</a>
      </div>
        <a href="Dashboard.html" class="login_btn">Login</a>
    </form>
  </div>
</main>
