<app-leftmenu></app-leftmenu>
<main class="squezeContent">
<app-search-section></app-search-section>
  <section class="content_area">
    <app-breadcrumb></app-breadcrumb>
    <div class="querySec">
      <h2>Search contacts (02)</h2>
      <div class="for_all">
        <label>
          <input type="checkbox" id="selectAll"> Select all
        </label>
        <ul class="tool_list">
          <li>
            <a href="individual.html">
              <img src="../../../assets/images/add-lead.svg" alt="Add new lead">Add individual contact
            </a>
          </li>
          <li href="#">
            <img src="../../../assets/images/download.png" alt="Investment (in INR Cr)">Download Contacts
          </li>
        </ul>
        <div class="data_sec_bottom">
          <input type="checkbox" class="selectIndividual">
          <a href="individual-edit.html"><i class="fas fa-pen"></i></a>
          <p class="date_time">
            Create Date: 10th June, 2018 Time: 04:20pm
          </p>
        </div>
        <div class="contact_sec">
          <ul>
            <li>
              <p>
                Srl. No.
                <span>001</span>
              </p>
            </li>
            <li>
              <p>
                Title
                <span>ABCD</span>
              </p>
            </li>
            <li>
                <p>
                  First name
                  <span>Satyajit</span>
                </p>
            </li>
            <li>
                <p>
                  Middle name
                  <span>-</span>
                </p>
            </li>
            <li>
                <p>
                  Last name
                  <span>Chatterjee</span>
                </p>
            </li>
            <li>
              <p>
                Designation
                <span>UX Designer</span>
              </p>
            </li>
            <li>
              <p>
                Department
                <span>IT</span>
              </p>
            </li>
            <li>
              <p>
                Company
                <span>ABC</span>
              </p>
            </li>
            <li>
              <p>
                Company type
                <span>Private</span>
              </p>
            </li>
            <li>
              <p>
                Sector of operation
                <span>-</span>
              </p>
            </li>
            <li>
              <p>
                Contact No.
                <span>9874563210</span>
              </p>
            </li>
            <li>
              <p>
                Email
                <span><a href="mailto:satyajit@gmail.com">satyajit@gmail.com</a></span>
              </p>
            </li>
            <li>
              <p>
                Role
                <span>-</span>
              </p>
            </li>
            <li>
              <p>
                Company website
                <span>www.abc.com</span>
              </p>
            </li>
            <li>
              <p>
                Source of contact information
                <span>Online</span>
              </p>
            </li>
            <li>
              <p>
                Level of relationship
                <span>There are many variations </span>
              </p>
            </li>
            <li>
              <p>
                KPMG contact (Email)
                <span>-</span>
              </p>
            </li>
            <li>
              <p>
                Contact Head office location
                <span>-</span>
              </p>
            </li>
            <li>
              <p>
                Company address
                <span>-</span>
              </p>
            </li>
            <li>
              <p>
                Last updated
                <span>-</span>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div class="data_sec_bottom">
    <input type="checkbox" class="selectIndividual">
    <a href="individual-edit.html"><i class="fas fa-pen"></i></a>
    <p class="date_time">
      Create Date: 10th June, 2018 Time: 04:20pm
    </p>
  </div>
  <section class="contact_sec">
    <ul>
          <li>
            <p>
              Srl. No.
              <span>002</span>
            </p>
          </li>
          <li>
            <p>
              Title
              <span>ABCD</span>
            </p>
          </li>
          <li>
              <p>
                First name
                <span>Satyajit</span>
              </p>
          </li>
          <li>
              <p>
                Middle name
                <span>-</span>
              </p>
          </li>
          <li>
              <p>
                Last name
                <span>Chatterjee</span>
              </p>
          </li>
          <li>
            <p>
              Designation
              <span>UX Designer</span>
            </p>
          </li>
          <li>
            <p>
              Department
              <span>IT</span>
            </p>
          </li>
          <li>
            <p>
              Company
              <span>ABC</span>
            </p>
          </li>
          <li>
            <p>
              Company type
              <span>Private</span>
            </p>
          </li>
          <li>
            <p>
              Sector of operation
              <span>-</span>
            </p>
          </li>
          <li>
            <p>
              Contact No.
              <span>9874563210</span>
            </p>
          </li>
          <li>
            <p>
              Email
              <span><a href="mailto:satyajit@gmail.com">satyajit@gmail.com</a></span>
            </p>
          </li>
          <li>
            <p>
              Role
              <span>-</span>
            </p>
          </li>
          <li>
            <p>
              Company website
              <span>www.abc.com</span>
            </p>
          </li>
          <li>
            <p>
              Source of contact information
              <span>Online</span>
            </p>
          </li>
          <li>
            <p>
              Level of relationship
              <span>There are many variations </span>
            </p>
          </li>
          <li>
            <p>
              KPMG contact (Email)
              <span>-</span>
            </p>
          </li>
          <li>
            <p>
              Contact Head office location
              <span>-</span>
            </p>
          </li>
          <li>
            <p>
              Company address
              <span>-</span>
            </p>
          </li>
          <li>
            <p>
              Last updated
              <span>-</span>
            </p>
          </li>
    </ul>
  </section>
</main>
