<app-leftmenu></app-leftmenu>
<main class="squezeContent">
  <app-header></app-header>
  <section class="content_area">
    <div class="login_form hideDiv" id="top_login_sec">
      <a href="login.html"><i class="fas fa-unlock-alt"></i> Click to logout</a>
    </div>
      <ul class="breadcramp">
        <li><a href="contact-management.html">Contact management module</a></li>
      </ul>
    <div class="contact_hd">
        <h2>Contact management module
          <span>Please choose any of the module to get respective page</span>
        </h2>
        <ul>
          <li>
            <img src="../../../assets/images/download.png" alt="Investment (in INR Cr)">Download excel template
          </li>
        </ul>
    </div>
    <div class="contact_block_sec">
      <div>
        <a routerLink="/add-individual-contact">
          <img src="../../../assets/images/individual.png" alt="Add individual contact" class="black">
          <img src="../../../assets/images/Add_Individual_Contact_White.svg" alt="Add individual contact" class="white">
          <h3>Add individual contact</h3>
        </a>
      </div>
      <div>
        <a href="#ex1" rel="modal:open">
          <img src="../../../assets/images/multiple.png" alt="Add multiple contact" class="black">
          <img src="../../../assets/images/Add_Multiple_Contact_White.svg" alt="Add individual contact" class="white">
          <h3>Add multiple contact</h3>
        </a>
      </div>
      <div>
        <a routerLink="/search-contact">
          <img src="../../../assets/images/search-contact.png" alt="Search contact" class="black">
          <img src="../../../assets/images/Search_Contact_White.svg" alt="Add individual contact" class="white">
          <h3>Search contact</h3>
      </a>
      </div>
      <div>
        <a routerLink="/search-contact">
          <img src="../../../assets/images/dashboard.png" alt="dashboard contact" class="black">
          <img src="../../../assets/images/My_Dashboard_White.svg" alt="Add individual contact" class="white">
          <h3>Contact list</h3>
      </a>
      </div>
    </div>
  </section>

</main>
